SERVICE_NAME="kawihlogy"

CORS_ORIGIN="http://localhost:5173"

# Server
PORT=3000
WORKER_PORT=3001
NODE_ENV=development

# Database
DB_TYPE=postgres
DB_HOST=
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=""
DB_NAME=postgres
DB_LOGGING=true
DB_SYNCHRONIZE=false # migration auto

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET="yes this is a secret"
JWT_EXPIRES_IN=5h

# Google
GEMINI_API_KEY=""


# AWS
# Note: Replace these with your actual AWS credentials
AWS_REGION="ap-southeast-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

AWS_S3_BUCKET_NAME="noir-dev"
